@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

:root {
    --green: #16a085;
    --black: #444;
    --light-color: #777;
    --box-shadow: .5rem .5rem 0 rgba(22, 160, 133, .2);
    --text-shadow: .4rem .4rem 0 rgba(0, 0, 0, .2);
    --border: .2rem solid var(--green);
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s ease-out;
    text-decoration: none;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

section {
    padding: 2rem 9%;
}

section:nth-child(even) {
    background: #f5f5f5;
}

h1 {
    text-align: center;
    padding-top: 9rem;
}

.primary_heading{
    text-align: center;
    padding-bottom: 2rem;
    text-shadow: var(--text-shadow);
    text-transform: uppercase;
    color: var(--black);
    font-size: 4.5rem;
    letter-spacing: .4rem;
    padding-top: 8rem;
}

.primary_heading span{
    text-transform: uppercase;
    color: var(--green);
}

.primary .primary_main{
    /* display: flex; */
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.primary .primary_main .image{
    flex: 1 1 45rem;
}

.primary .primary_main .image img {
    width: 50%;
    float: left;
    height: 50%;
    padding: 0 10px 0 0;
}

.primary .primary_main h3{
    color: var(--black);
    text-shadow: var(--text-shadow);
    font-size: 3.5rem;
    line-height: 1.8;
    text-align: center;
    padding-top: 1rem;
}

.primary .primary_main p{
    color: var(--light-color);
    padding: 3rem 0 5rem 0 ;
    font-size: 1.5rem;
    line-height: 1.8;
    text-align: justify;
    margin-left: 3rem;
}

.primary .primary_main .image_symptoms img {
    width: 40%;
    float: right;
    height: 50%;
    padding: 8rem 0.625rem 0 0;
}

.primary .primary_main .heading_symptoms{
    padding-top: 10rem;
}

.primary .primary_main .image_cure img{
    width: 40%;
    float: right;
    height: 50%;
    padding: 3rem 0.625rem 0 0;
}

.primary .primary_main .cure_heading{
    padding-top: 5rem;
}

.primary .primary_main .cure_heading h3 {
    padding-top: 1rem;
}

.primary .primary_main .types_div p {
    color: var(--light-color);
    padding: 0 0 1rem 0 ;
    font-size: 1.5rem;
    line-height: 1.8;
    text-align: justify;
    margin-left: 3rem;
}

.primary .primary_main .types_div ul {
    list-style-type: none;
}

.primary .primary_main .types_div ul li {
    color: var(--light-color);
    padding: 0 0 0 5rem;
    font-size: 1.5rem;
    line-height: 1.8;
    text-align: justify;
    padding-bottom: 2rem;

}

.primary .primary_main .types_div h2{
    color: #16a085;
    font-size: 2.2rem;
    padding-bottom: 1rem;
}